*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner */
.banner{
    display: flex;
    margin: 0px 200px;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
font-size: 45px;
margin-bottom: 20px;
}
.banner-discription{
    font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 30px;
}
/* main section */
main{
    width: 1140px;
    margin: 0px auto;
}
/* section style part */
.about{
    background: #FFF8F3;
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;

    }
.section-title{
    font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 30px;
}
.section-discription{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info .info-title{
    font-weight: 400;
font-size: 20px;
color: #757575;
}
.about-info .info-description{
    font-weight: 700;
font-size: 20px;
color: #474747;
}
.about-info{
    margin-right: 50px;
}
/* what-i-do */
.what-i-do{
    
    margin-top: 130px;
}
.section-title{
    text-align: center;
    color: #181818;
    font-weight: 700;
font-size: 35px;
}
.section-des{
    color: #757575;
    font-weight: 400;
font-size: 18px;
margin-bottom: 50px;
line-height: 30px;
text-align: center;
margin-left: 145px;
margin-right: 146px;

}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}

.skill-title{
    font-weight: 700;
font-size: 20px;
color: #181818;
margin-top: 30px;
margin-bottom: 20px;
}
.skill-description{
    font-weight: 400;
font-size: 16px;
color: #757575;
}
/* resume section */
.resume-content{
    display: flex;
    gap: 71px;
}
.section-title{
    margin-top: 130px;
    margin-bottom: 113px;
}
.resume-title{
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}
.resume .education-title{
    color: #474747;
    font-weight: 700;
font-size: 25px;
}
.education-university{
    font-weight: 600;
font-size: 20px;
color: #757575;
margin-top: 10px;
margin-bottom: 20px;
}
.education-description{
    font-weight: 400;
font-size: 16px;
color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;
}
/* contact section */
.contact{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 60px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact-discription{
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-title2{
    color: #181818;
    font-weight: 700;
font-size: 35px;
margin-top: 243px;
}
.contact input[type="text"], input[type="email"], textarea{
margin-bottom: 24px;
border: 0px;
width: 100%;
padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
    
}
ima{
    gap: 50px;
}